spring-ws-client/src/main/resources/wsdl/product.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.sample.com/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sample.com/schemas" targetNamespace="http://www.sample.com/schemas">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.com/schemas" version="1.0">

  <xs:element name="productRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="productResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" type="xs:string"/>
        <xs:element minOccurs="0" name="type" type="xs:string"/>
        <xs:element name="price" type="xs:int"/>
        <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="productRequest">
    <wsdl:part element="tns:productRequest" name="productRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="productResponse">
    <wsdl:part element="tns:productResponse" name="productResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="productAction">
    <wsdl:operation name="product">
      <wsdl:input message="tns:productRequest" name="productRequest">
    </wsdl:input>
      <wsdl:output message="tns:productResponse" name="productResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productActionSoap11" type="tns:productAction">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="product">
      <soap:operation soapAction=""/>
      <wsdl:input name="productRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="productResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productActionService">
    <wsdl:port binding="tns:productActionSoap11" name="productActionSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
